:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --sub-heading-font-family: "Playfair Display", serif;
}
body {
  margin-top: 100px;
  font-family: var(--sub-heading-font-family);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: black;
}

h1 {
  font-size: 65px;
  font-family: var(--heading-font-family);
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-size: 35px;
  font-family: var(--sub-heading-font-family);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 25px;
}
.main-link {
  text-decoration: none;
  color: black;
}

.desk-table {
  float: right;
  margin: 65px 35px 55px 65px;
  border-radius: 5px;
  max-width: 50%;
}

.btn {
  margin-top: 200px;
  font-size: 18px;
  color: white;
}
.btn:hover {
  color: black;
}
