:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --sub-heading-font-family: "Playfair Display", serif;
}
body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: black;
}

h1 {
  font-size: 65px;
  font-family: var(--heading-font-family);
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-size: 35px;
  font-family: var(--sub-heading-font-family);
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.main-link {
  text-decoration: none;
  color: black;
}
.main-link:hover {
  color: white;
}
.btn-outline-primary {
  padding: 15px 30px;
  margin-left: 180px;
}

.btn {
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 100px;
  font-size: 18px;
}
.btn:hover {
  color: black;
}
.active {
  color: var(--primary-color) !important;
}
.home-box {
  padding: 30px 150px;
  text-align: center;
}
footer {
  margin: 100px 0;
}
footer .contact-box {
  background: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .social-links a {
  margin: 0 40px;
  padding: 10px 14px;
  color: #0b5ed7;
  border-radius: 40%;
  font-size: 22px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: #0b5ed7;
}
